.gameWindow{
    -fx-background-image: url("../images/background.png");
    -fx-background-size: stretch;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.boardBtn{
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.green{
    -fx-background-color:#90ee90;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.blue{
    -fx-background-color:#4e99e4;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.red{
    -fx-background-color:#eb7a7a;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.yellow{
    -fx-background-color:#eeee90;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}


.pink{
    -fx-background-color:#ee90bf;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.azure{
    -fx-background-color:#90eeee;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.exitGameBtn{
    -fx-background-color:
            linear-gradient(#039195, #c87a6a),
            linear-gradient(#4bb7be, #8c9987),
            linear-gradient(#8cd4d7, #0a8489),
            linear-gradient(#30aab2 0%, #8b9a89 50%, #c87a6a 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #e2f8ff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}



.exitGameBtn:hover {
    -fx-background-color:
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0)),
            linear-gradient(#30aab2 0%, #8b9a89 50%, #c87a6a 100%),
            linear-gradient(#8cd4d7, #0a8489),
            linear-gradient(#4bb7be, #8c9987),
            linear-gradient(#039195, #c87a6a);

}


.splitPane{
    -fx-background:transparent;
}


.playersLabel{
    -fx-text-fill: black;
}
